@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, from Alpaca!</h1>

<p>
Welcome to your new Alpaca Driver. Make sure to customize the settings in the main program.cs to your company.
</p>

<p>
Often you would put links to documentation and support here.
</p>

<p>
Thank you for developing a new Alpaca Driver. Please leave any feedback in the driver template git repository or in the User Group.
</p>