@page "/setup/v1/Camera/{InstanceID:int}/setup"

<h3>Camera Setup: @InstanceID</h3>

@if (ASCOM.Alpaca.DeviceManager.Cameras.ContainsKey(InstanceID))
{
    <p>Add your device setup and control functions here</p>

}
else
{
    <h3>This device does not exist and cannot be configured</h3>
}


@code {
    [Parameter]
    public int InstanceID { get; set; }

}
