@page "/setup/v1/Telescope/{InstanceID:int}/setup"

<h3>Telescope Setup: @InstanceID</h3>

@if (ASCOM.Alpaca.DeviceManager.Telescopes.ContainsKey(InstanceID))
{
    <p>Add your device setup and control functions here</p>
}
else
{
    <h3>This device does not exist and cannot be configured</h3>
}


@code {
    [Parameter]
    public int InstanceID { get; set; }

}
